build
node_modules
ndi
dist
.vscode
.DS_Store
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-workspace.yaml
coverage
docs/api
docs/.vitepress/cache
docs/.vitepress/dist
packages/**
!packages/
!packages/**/
!packages/**/package.json
